* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

/* ***************** */
/* HEADER STYLE START */
/* ***************** */

.header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #123188;
  border-bottom: 0.4rem solid #023;
  position: fixed;
  z-index: 999;
  transition: 0.3s;
  top: 0;
}

.menu-navbar{
    display: none;
}

.logo-sub {
  text-align: center;
}

.logo {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
}

.sub-logo {
  font-style: italic;
  font-size: 1rem;
}

.logo,
.sub-logo {
  color: white;
  font-family: "Poppins";
}

.logo span{
    color: rgb(197, 197, 0);
}

.navbar{
    margin-right: 0.5rem;
}

.navbar a{
    display: inline-block;
    margin: 0 1rem;
    color: wheat;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.navbar a::after{
    content: '';
    display: block;
    width: 0;
    height: 0.3rem;
    background-color: white;
    transition: 0.3s;
}

.navbar a:hover::after{
    width: 100%;
}
/* ***************** */
/* HEADER STYLE END */
/* ***************** */


/* ***************** */
/* INTRO STYLE START */
/* ***************** */
.intro{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

.rangkuman{
    font-family: 'Fasthand', sans-serif;
    font-size: 5rem;
    color: #fff;
}

.rangkuman span{
    color: #fbff13;
}

.container-play{
    background-color: transparent;
    position: relative;
    border: none;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.animation-play{
    border: 0.3rem dashed white;
    width: 100%;
    height: 100%;
    stroke-dasharray: 52;
    border-radius: 50%;
    padding: 1rem;
    animation: rotate 5s linear none infinite;
    transition: .3s;
}

.container-play span{
    font-size: 3rem;
    color: white;
    animation-play-state: paused;
    position: absolute;
    top: 20%;
    left: 20%;
    transition: 0.3s;
}

.container-play:hover .animation-play{
    border: 0.3rem solid white;
}

.container-play:hover span{
    transform: scale(1.5);
    background-color: black;
    border-radius: 50%;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* ***************** */
/* INTRO STYLE END */
/* ***************** */

/* ***************** */
/* MENU STYLE START */
/* ***************** */
.menu{
    width: 100%;
    height: 100vh;
    background-color: #181818;
    padding: 8rem;
    text-align: center;
    font-family: 'Poppins';
}

.menu h1{
    margin: 1rem;
    font-size: 1.4rem;
    color: white;
}

.container-study{
    margin: auto;
    width: 60%;
    height: 100%;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    padding: 1rem;
    overflow: hidden;
}

.container-study button{
    position: absolute;
    padding: 0.5rem 2rem;
    background-color: rgb(80, 255, 80);
    border: 0.3rem solid #dddd27;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 10;
}

.container-study button:hover{
    transform: scale(1.2);
    animation: border-color 1s ease-in-out infinite;
}

.prev-button{
    left: -10%;
    top: 50%;
}

.prev-button:hover{
    left: 0;
}

.next-button{
    right: -10%;
    top: 50%;
}

.next-button:hover{
    right: 0;
}

.menu-study{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    border: 0.2rem solid yellow;
}

.content{
    display: block;
    position: absolute;
    margin: 0 2rem;
    text-align: justify;
    transition: 1s;
}

.content .p-blue{
    color: blue;
    font-weight: bold;
    font-style: italic;
}

.content .p-italic{
    font-style: italic;
    font-weight: bold;
}

.content li{
    margin-left: 1.3rem;
}

.content h1{
    color: rgb(145, 145, 0);
    text-align: center;
}

.content-active{
    left: 0;
    right: 0;
}

.content-disactive-left{
    left: -300%;
}

.content-disactive-right{
    right: -300%;
}

@keyframes  border-color{
    0%{
        border-color: #dddd27;
    }
    25%{
        border-color: #fbff13;
    }
    50%{
        border-color: #2fb614;
    }
    75%{
        border-color: #147900;
    }
}

/* ***************** */
/* MENU STYLE END */
/* ***************** */

/* ***************** */
/* MEDIA QUERY STYLE START */
/* ***************** */

@media (max-width: 768px){
    *{
        font-size: 75%;
    }

    .header .navbar{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: -1%;
        top: 100%;
        width: 20%;
        height: 0;
        text-align: center;
        background-color: #123188;
        transition: 0.3s;
        overflow: hidden;
    }

    .navbar-active{
        height: 30vh !important;
        border-left: 0.3rem solid #fbff13;
        border-bottom: 0.3rem solid #fbff13;
        padding: 2rem 1rem;
    }

    .menu-navbar{
        display: block;
        margin: 1rem;
        padding: 0.5rem;
        color: white;
        transition: 0.3s;
        border-radius: 1rem;
        cursor: pointer;
    }

    .navbar a{
        margin: 1rem 0;
    }

    .menu-navbar-active{
        background-color: #031442;
    }

    .container-study{
        width: 100%;
        height: 60%;
    }
}

@media (max-width: 500px){
    html{
        font-size: 50%;
    }
}

/* ***************** */
/* MEDIA QUERY STYLE END */
/* ***************** */